ATTACH [master]

/****** Object:  Database [AIRLINE_SIM_PROJECT]    Script Date: 13/10/2023 11:52:16 ******/
CREATE [AIRLINE_SIM_PROJECT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AIRLINE_SIM_PROJECT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AIRLINE_SIM_PROJECT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AIRLINE_SIM_PROJECT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AIRLINE_SIM_PROJECT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET COMPATIBILITY_LEVEL = 150

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AIRLINE_SIM_PROJECT].[dbo].[sp_fulltext_database] @action = 'enable'
end

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET ANSI_NULL_DEFAULT OFF 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET ANSI_NULLS OFF 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET ANSI_PADDING OFF 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET ANSI_WARNINGS OFF 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET ARITHABORT OFF 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET AUTO_CLOSE OFF 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET AUTO_SHRINK OFF 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET AUTO_UPDATE_STATISTICS ON 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET CURSOR_CLOSE_ON_COMMIT OFF 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET CURSOR_DEFAULT  GLOBAL 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET CONCAT_NULL_YIELDS_NULL OFF 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET NUMERIC_ROUNDABORT OFF 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET QUOTED_IDENTIFIER OFF 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET RECURSIVE_TRIGGERS OFF 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET  DISABLE_BROKER 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET DATE_CORRELATION_OPTIMIZATION OFF 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET TRUSTWORTHY OFF 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET ALLOW_SNAPSHOT_ISOLATION OFF 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET PARAMETERIZATION SIMPLE 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET READ_COMMITTED_SNAPSHOT OFF 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET HONOR_BROKER_PRIORITY OFF 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET RECOVERY SIMPLE 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET  MULTI_ATTACHR 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET PAGE_VERIFY CHECKSUM  

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET DB_CHAINING OFF 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET TARGET_RECOVERY_TIME = 60 SECONDS 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET DELAYED_DURABILITY = DISABLED 

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET ACCELERATED_DATABASE_RECOVERY = OFF  

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET QUERY_STORE = OFF

ATTACH [AIRLINE_SIM_PROJECT]

/****** Object:  Table [dbo].[BRIDGE_ASSIGNEDPILOTS]    Script Date: 13/10/2023 11:52:17 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[BRIDGE_ASSIGNEDPILOTS](
	[FLIGHT_ID] [varchar](25) NOT NULL,
	[PILOT_ID] [varchar](25) NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[DB_AIRCRAFT]    Script Date: 13/10/2023 11:52:17 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[DB_AIRCRAFT](
	[AIRCRAFT_ID] [varchar](25) NOT NULL,
	[AIRCRAFT_NAME] [varchar](25) NOT NULL,
	[AIRCRAFT_TYPE] [varchar](25) NOT NULL,
	[PASSENGER_CAPICITY] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AIRCRAFT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[DB_AIRPORTS]    Script Date: 13/10/2023 11:52:17 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[DB_AIRPORTS](
	[AIRPORT_ID] [varchar](25) NOT NULL,
	[AIRPORT_NAME] [varchar](50) NOT NULL,
	[AIRPORT_COUNTRY] [varchar](25) NOT NULL,
	[AIRPORT_CITY] [varchar](25) NOT NULL,
 CONSTRAINT [PK__DB_AIRPO__46169AD8365C4B37] PRIMARY KEY CLUSTERED 
(
	[AIRPORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[DB_ARRIVALS]    Script Date: 13/10/2023 11:52:17 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[DB_ARRIVALS](
	[ARRIVAL_ID] [varchar](25) NOT NULL,
	[SCH_ARR_DATETIME] [datetime] NOT NULL,
	[ACT_ARR_DATETIME] [datetime] NOT NULL,
	[ARR_AIRPORT_ID] [varchar](25) NOT NULL,
	[ARR_TERMINAL] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ARRIVAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[DB_CABINCREWS]    Script Date: 13/10/2023 11:52:17 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[DB_CABINCREWS](
	[CREW_ID] [varchar](25) NOT NULL,
	[CREW_NAME] [varchar](25) NOT NULL,
	[CREW_DETAILS] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CREW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[DB_DEPARTURES]    Script Date: 13/10/2023 11:52:17 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[DB_DEPARTURES](
	[DEPARTURE_ID] [varchar](25) NOT NULL,
	[SCH_DEPR_DATETIME] [datetime] NOT NULL,
	[ACT_DEPR_DATETIME] [datetime] NOT NULL,
	[DEP_AIRPORT_ID] [varchar](25) NOT NULL,
	[DEP_TERMINAL] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPARTURE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[DB_EMPLOYEE]    Script Date: 13/10/2023 11:52:17 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[DB_EMPLOYEE](
	[EMP_ID] [varchar](25) NOT NULL,
	[EMP_LAST_NAME] [varchar](25) NOT NULL,
	[EMP_FIRST_NAME] [varchar](25) NOT NULL,
	[EMP_ROLE] [varchar](25) NOT NULL,
	[EMP_CREW_ID] [varchar](25) NULL,
	[EMP_GENDER] [varchar](25) NOT NULL,
	[EMP_ANNUAL] [varchar](25) NOT NULL,
	[CONTACT_DETAILS] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[DB_FLIGHTS]    Script Date: 13/10/2023 11:52:17 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[DB_FLIGHTS](
	[FLIGHT_ID] [varchar](25) NOT NULL,
	[DEPARTURE_ID] [varchar](25) NOT NULL,
	[ARRIVAL_ID] [varchar](25) NOT NULL,
	[CREW_ID] [varchar](25) NOT NULL,
	[AIRCRAFT_ID] [varchar](25) NOT NULL,
	[SCH_FLT_DURATION] [time](7) NOT NULL,
	[ACT_FLT_DURATION] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FLIGHT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[DB_PILOTS]    Script Date: 13/10/2023 11:52:17 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[DB_PILOTS](
	[PILOT_ID] [varchar](25) NOT NULL,
	[EMP_ID] [varchar](25) NOT NULL,
	[LICENSE_TYPE] [varchar](25) NOT NULL,
	[PASSPORT_NO] [varchar](25) NOT NULL,
	[ORIGIN_COUNTRY] [varchar](25) NOT NULL,
 CONSTRAINT [PK__DB_PILOT__CBEA03B58FC3E474] PRIMARY KEY CLUSTERED 
(
	[PILOT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[BRIDGE_ASSIGNEDPILOTS] ([FLIGHT_ID], [PILOT_ID]) VALUES (N'F101', N'P1001')
INSERT [dbo].[BRIDGE_ASSIGNEDPILOTS] ([FLIGHT_ID], [PILOT_ID]) VALUES (N'F101', N'P1002')
INSERT [dbo].[BRIDGE_ASSIGNEDPILOTS] ([FLIGHT_ID], [PILOT_ID]) VALUES (N'F102', N'P1003')

INSERT [dbo].[DB_AIRCRAFT] ([AIRCRAFT_ID], [AIRCRAFT_NAME], [AIRCRAFT_TYPE], [PASSENGER_CAPICITY]) VALUES (N'AIR5001', N'Boeing 747', N'Commercial', 150)
INSERT [dbo].[DB_AIRCRAFT] ([AIRCRAFT_ID], [AIRCRAFT_NAME], [AIRCRAFT_TYPE], [PASSENGER_CAPICITY]) VALUES (N'AIR5002', N'Airbus A320', N'Commercial', 250)
INSERT [dbo].[DB_AIRCRAFT] ([AIRCRAFT_ID], [AIRCRAFT_NAME], [AIRCRAFT_TYPE], [PASSENGER_CAPICITY]) VALUES (N'AIR5003', N'Cessna 172', N'Private', 6)

INSERT [dbo].[DB_AIRPORTS] ([AIRPORT_ID], [AIRPORT_NAME], [AIRPORT_COUNTRY], [AIRPORT_CITY]) VALUES (N'AP601', N'John F. Kennedy International Airport', N'USA', N'New York')
INSERT [dbo].[DB_AIRPORTS] ([AIRPORT_ID], [AIRPORT_NAME], [AIRPORT_COUNTRY], [AIRPORT_CITY]) VALUES (N'AP602', N'Heathrow Airport', N'UK', N'London')
INSERT [dbo].[DB_AIRPORTS] ([AIRPORT_ID], [AIRPORT_NAME], [AIRPORT_COUNTRY], [AIRPORT_CITY]) VALUES (N'AP603', N'Los Angeles International Airport', N'USA', N'Los Angeles')

INSERT [dbo].[DB_ARRIVALS] ([ARRIVAL_ID], [SCH_ARR_DATETIME], [ACT_ARR_DATETIME], [ARR_AIRPORT_ID], [ARR_TERMINAL]) VALUES (N'A301', CAST(N'2023-10-13T12:00:00.000' AS DateTime), CAST(N'2023-10-13T12:15:00.000' AS DateTime), N'AP602', N'Terminal X')
INSERT [dbo].[DB_ARRIVALS] ([ARRIVAL_ID], [SCH_ARR_DATETIME], [ACT_ARR_DATETIME], [ARR_AIRPORT_ID], [ARR_TERMINAL]) VALUES (N'A302', CAST(N'2023-10-13T13:30:00.000' AS DateTime), CAST(N'2023-10-13T13:45:00.000' AS DateTime), N'AP604', N'Terminal Y')
INSERT [dbo].[DB_ARRIVALS] ([ARRIVAL_ID], [SCH_ARR_DATETIME], [ACT_ARR_DATETIME], [ARR_AIRPORT_ID], [ARR_TERMINAL]) VALUES (N'A303', CAST(N'2023-10-13T15:00:00.000' AS DateTime), CAST(N'2023-10-13T15:20:00.000' AS DateTime), N'AP606', N'Terminal Z')

INSERT [dbo].[DB_CABINCREWS] ([CREW_ID], [CREW_NAME], [CREW_DETAILS]) VALUES (N'CR401', N'Flight Crew 1', N'Pilots and Flight Attendants')
INSERT [dbo].[DB_CABINCREWS] ([CREW_ID], [CREW_NAME], [CREW_DETAILS]) VALUES (N'CR402', N'Flight Crew 2', N'Veteran Pilots and Flight Attendants')
INSERT [dbo].[DB_CABINCREWS] ([CREW_ID], [CREW_NAME], [CREW_DETAILS]) VALUES (N'CR403', N'Ground Crew 1', N'Ground Operations Staff')

INSERT [dbo].[DB_DEPARTURES] ([DEPARTURE_ID], [SCH_DEPR_DATETIME], [ACT_DEPR_DATETIME], [DEP_AIRPORT_ID], [DEP_TERMINAL]) VALUES (N'D201', CAST(N'2023-10-13T09:00:00.000' AS DateTime), CAST(N'2023-10-13T09:15:00.000' AS DateTime), N'AP601', N'Terminal A')
INSERT [dbo].[DB_DEPARTURES] ([DEPARTURE_ID], [SCH_DEPR_DATETIME], [ACT_DEPR_DATETIME], [DEP_AIRPORT_ID], [DEP_TERMINAL]) VALUES (N'D202', CAST(N'2023-10-13T10:30:00.000' AS DateTime), CAST(N'2023-10-13T10:45:00.000' AS DateTime), N'AP603', N'Terminal B')
INSERT [dbo].[DB_DEPARTURES] ([DEPARTURE_ID], [SCH_DEPR_DATETIME], [ACT_DEPR_DATETIME], [DEP_AIRPORT_ID], [DEP_TERMINAL]) VALUES (N'D203', CAST(N'2023-10-13T12:00:00.000' AS DateTime), CAST(N'2023-10-13T12:15:00.000' AS DateTime), N'AP605', N'Terminal C')

INSERT [dbo].[DB_EMPLOYEE] ([EMP_ID], [EMP_LAST_NAME], [EMP_FIRST_NAME], [EMP_ROLE], [EMP_CREW_ID], [EMP_GENDER], [EMP_ANNUAL], [CONTACT_DETAILS]) VALUES (N'E1001', N'John', N'Smith', N'Pilot', N'CR401', N'Male', N'75,000', N'john.smith@email.com')
INSERT [dbo].[DB_EMPLOYEE] ([EMP_ID], [EMP_LAST_NAME], [EMP_FIRST_NAME], [EMP_ROLE], [EMP_CREW_ID], [EMP_GENDER], [EMP_ANNUAL], [CONTACT_DETAILS]) VALUES (N'E1002', N'Mary', N'Johnson', N'Pilot', N'CR401', N'Female', N'70,000', N'mary.johnson@email.com')
INSERT [dbo].[DB_EMPLOYEE] ([EMP_ID], [EMP_LAST_NAME], [EMP_FIRST_NAME], [EMP_ROLE], [EMP_CREW_ID], [EMP_GENDER], [EMP_ANNUAL], [CONTACT_DETAILS]) VALUES (N'E1003', N'Michael', N'Williams', N'Flight Attendant', N'CR402', N'Male', N'50,000', N'michael.williams@email.com')

INSERT [dbo].[DB_FLIGHTS] ([FLIGHT_ID], [DEPARTURE_ID], [ARRIVAL_ID], [CREW_ID], [AIRCRAFT_ID], [SCH_FLT_DURATION], [ACT_FLT_DURATION]) VALUES (N'F101', N'D201', N'A301', N'CR401', N'AIR5001', CAST(N'03:30:00' AS Time), CAST(N'03:15:00' AS Time))
INSERT [dbo].[DB_FLIGHTS] ([FLIGHT_ID], [DEPARTURE_ID], [ARRIVAL_ID], [CREW_ID], [AIRCRAFT_ID], [SCH_FLT_DURATION], [ACT_FLT_DURATION]) VALUES (N'F102', N'D202', N'A302', N'CR402', N'AIR5002', CAST(N'02:45:00' AS Time), CAST(N'03:00:00' AS Time))
INSERT [dbo].[DB_FLIGHTS] ([FLIGHT_ID], [DEPARTURE_ID], [ARRIVAL_ID], [CREW_ID], [AIRCRAFT_ID], [SCH_FLT_DURATION], [ACT_FLT_DURATION]) VALUES (N'F103', N'D203', N'A303', N'CR406', N'AIR5003', CAST(N'04:15:00' AS Time), CAST(N'04:40:00' AS Time))

INSERT [dbo].[DB_PILOTS] ([PILOT_ID], [EMP_ID], [LICENSE_TYPE], [PASSPORT_NO], [ORIGIN_COUNTRY]) VALUES (N'P1001', N'E1001', N'Commercial', N'US123456', N'USA')
INSERT [dbo].[DB_PILOTS] ([PILOT_ID], [EMP_ID], [LICENSE_TYPE], [PASSPORT_NO], [ORIGIN_COUNTRY]) VALUES (N'P1002', N'E1002', N'Commercial', N'UK789012', N'UKA')
INSERT [dbo].[DB_PILOTS] ([PILOT_ID], [EMP_ID], [LICENSE_TYPE], [PASSPORT_NO], [ORIGIN_COUNTRY]) VALUES (N'P1003', N'E1007', N'Commercial', N'US234567', N'USA')

ALTER TABLE [dbo].[DB_CABINCREWS] ADD  DEFAULT (NULL) FOR [CREW_DETAILS]

ALTER TABLE [dbo].[DB_EMPLOYEE] ADD  DEFAULT (NULL) FOR [EMP_CREW_ID]

ALTER TABLE [dbo].[DB_EMPLOYEE] ADD  DEFAULT (NULL) FOR [CONTACT_DETAILS]

ALTER TABLE [dbo].[BRIDGE_ASSIGNEDPILOTS]  WITH CHECK ADD  CONSTRAINT [FK__BRIDGE_AS__PILOT__5FB337D6] FOREIGN KEY([PILOT_ID])
REFERENCES [dbo].[DB_PILOTS] ([PILOT_ID])

ALTER TABLE [dbo].[BRIDGE_ASSIGNEDPILOTS] CHECK CONSTRAINT [FK__BRIDGE_AS__PILOT__5FB337D6]

ALTER TABLE [dbo].[DB_ARRIVALS]  WITH CHECK ADD  CONSTRAINT [FK__DB_ARRIVA__ARR_A__4BAC3F29] FOREIGN KEY([ARR_AIRPORT_ID])
REFERENCES [dbo].[DB_AIRPORTS] ([AIRPORT_ID])

ALTER TABLE [dbo].[DB_ARRIVALS] CHECK CONSTRAINT [FK__DB_ARRIVA__ARR_A__4BAC3F29]

ALTER TABLE [dbo].[DB_DEPARTURES]  WITH CHECK ADD  CONSTRAINT [FK__DB_DEPART__DEP_A__48CFD27E] FOREIGN KEY([DEP_AIRPORT_ID])
REFERENCES [dbo].[DB_AIRPORTS] ([AIRPORT_ID])

ALTER TABLE [dbo].[DB_DEPARTURES] CHECK CONSTRAINT [FK__DB_DEPART__DEP_A__48CFD27E]

ALTER TABLE [dbo].[DB_EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([EMP_CREW_ID])
REFERENCES [dbo].[DB_CABINCREWS] ([CREW_ID])

ALTER TABLE [dbo].[DB_FLIGHTS]  WITH CHECK ADD FOREIGN KEY([AIRCRAFT_ID])
REFERENCES [dbo].[DB_AIRCRAFT] ([AIRCRAFT_ID])

ALTER TABLE [dbo].[DB_FLIGHTS]  WITH CHECK ADD FOREIGN KEY([ARRIVAL_ID])
REFERENCES [dbo].[DB_ARRIVALS] ([ARRIVAL_ID])

ALTER TABLE [dbo].[DB_FLIGHTS]  WITH CHECK ADD FOREIGN KEY([CREW_ID])
REFERENCES [dbo].[DB_CABINCREWS] ([CREW_ID])

ALTER TABLE [dbo].[DB_FLIGHTS]  WITH CHECK ADD FOREIGN KEY([DEPARTURE_ID])
REFERENCES [dbo].[DB_DEPARTURES] ([DEPARTURE_ID])

ALTER TABLE [dbo].[DB_PILOTS]  WITH CHECK ADD  CONSTRAINT [FK__DB_PILOTS__EMP_I__5812160E] FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[DB_EMPLOYEE] ([EMP_ID])

ALTER TABLE [dbo].[DB_PILOTS] CHECK CONSTRAINT [FK__DB_PILOTS__EMP_I__5812160E]

ATTACH [master]

ALTER DATABASE [AIRLINE_SIM_PROJECT] SET  READ_WRITE 

