ATTACH DATABASE 'AIRLINE_SIM_DATA.db' AS AIRLINE_SIM_PROJECT;

-- Create Tables

CREATE TABLE AIRLINE_SIM_PROJECT.BRIDGE_ASSIGNEDPILOTS (
    FLIGHT_ID TEXT NOT NULL,
    PILOT_ID TEXT NOT NULL,
    FOREIGN KEY (FLIGHT_ID) REFERENCES DB_FLIGHTS(FLIGHT_ID)
    FOREIGN KEY (PILOT_ID) REFERENCES DB_PILOTS(PILOT_ID)
);

CREATE TABLE AIRLINE_SIM_PROJECT.DB_AIRCRAFT (
    AIRCRAFT_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    AIRCRAFT_NAME TEXT NOT NULL,
    AIRCRAFT_TYPE TEXT NOT NULL,
    PASSENGER_CAPACITY INTEGER NOT NULL
);

CREATE TABLE AIRLINE_SIM_PROJECT.DB_AIRPORTS (
    AIRPORT_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    AIRPORT_NAME TEXT NOT NULL,
    AIRPORT_COUNTRY TEXT NOT NULL,
    AIRPORT_CITY TEXT NOT NULL
);

CREATE TABLE AIRLINE_SIM_PROJECT.DB_ARRIVALS (
    ARRIVAL_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    SCH_ARR_DATETIME DATETIME NOT NULL,
    ARR_AIRPORT_ID TEXT NOT NULL,
    ARR_TERMINAL TEXT NOT NULL,
    FOREIGN KEY (ARR_AIRPORT_ID) REFERENCES DB_AIRPORTS(AIRPORT_ID)
);

CREATE TABLE AIRLINE_SIM_PROJECT.DB_CABINCREWS (
    CREW_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    CREW_NAME TEXT NOT NULL,
    CREW_DETAILS TEXT
);

CREATE TABLE AIRLINE_SIM_PROJECT.DB_DEPARTURES (
    DEPARTURE_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    SCH_DEPR_DATETIME DATETIME NOT NULL,
    DEP_AIRPORT_ID TEXT NOT NULL,
    DEP_TERMINAL TEXT NOT NULL,
    FOREIGN KEY (DEP_AIRPORT_ID) REFERENCES DB_AIRPORTS(AIRPORT_ID)
);

CREATE TABLE AIRLINE_SIM_PROJECT.DB_EMPLOYEE (
    EMP_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    EMP_LAST_NAME TEXT NOT NULL,
    EMP_FIRST_NAME TEXT NOT NULL,
    EMP_ROLE TEXT NOT NULL,
    EMP_CREW_ID TEXT,
    EMP_GENDER TEXT NOT NULL,
    EMP_ANNUAL REAL NOT NULL,
    CONTACT_DETAILS TEXT
);

CREATE TABLE AIRLINE_SIM_PROJECT.DB_FLIGHTS (
    FLIGHT_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    DEPARTURE_ID TEXT NOT NULL,
    ARRIVAL_ID TEXT NOT NULL,
    CREW_ID TEXT NOT NULL,
    AIRCRAFT_ID TEXT NOT NULL,
    FLIGHT_DURATION TEXT NOT NULL,
    FOREIGN KEY (DEPARTURE_ID) REFERENCES DB_DEPARTURES(DEPARTURE_ID),
    FOREIGN KEY (ARRIVAL_ID) REFERENCES DB_ARRIVALS(ARRIVAL_ID),
    FOREIGN KEY (CREW_ID) REFERENCES DB_CABINCREWS(CREW_ID),
    FOREIGN KEY (AIRCRAFT_ID) REFERENCES DB_AIRCRAFT(AIRCRAFT_ID)
);

CREATE TABLE AIRLINE_SIM_PROJECT.DB_PILOTS (
    PILOT_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    EMP_ID TEXT NOT NULL,
    LICENSE_TYPE TEXT NOT NULL,
    PASSPORT_NO TEXT NOT NULL,
    ORIGIN_COUNTRY TEXT NOT NULL,
    FOREIGN KEY (EMP_ID) REFERENCES DB_EMPLOYEE(EMP_ID)
);


-- Insert Data

INSERT INTO [BRIDGE_ASSIGNEDPILOTS] ([FLIGHT_ID], [PILOT_ID]) VALUES ('101', '1001');
INSERT INTO [BRIDGE_ASSIGNEDPILOTS] ([FLIGHT_ID], [PILOT_ID]) VALUES ('101', '1002');
INSERT INTO [BRIDGE_ASSIGNEDPILOTS] ([FLIGHT_ID], [PILOT_ID]) VALUES ('102', '1003');

INSERT INTO [DB_AIRCRAFT] ([AIRCRAFT_ID], [AIRCRAFT_NAME], [AIRCRAFT_TYPE], [PASSENGER_CAPACITY]) VALUES ('5001', 'Boeing 747', 'Commercial', 150);
INSERT INTO [DB_AIRCRAFT] ([AIRCRAFT_ID], [AIRCRAFT_NAME], [AIRCRAFT_TYPE], [PASSENGER_CAPACITY]) VALUES ('5002', 'Airbus A320', 'Commercial', 250);
INSERT INTO [DB_AIRCRAFT] ([AIRCRAFT_ID], [AIRCRAFT_NAME], [AIRCRAFT_TYPE], [PASSENGER_CAPACITY]) VALUES ('5003', 'Cessna 172', 'Private', 6);

INSERT INTO [DB_AIRPORTS] ([AIRPORT_ID], [AIRPORT_NAME], [AIRPORT_COUNTRY], [AIRPORT_CITY]) VALUES ('601', 'John F. Kennedy International Airport', 'USA', 'New York');
INSERT INTO [DB_AIRPORTS] ([AIRPORT_ID], [AIRPORT_NAME], [AIRPORT_COUNTRY], [AIRPORT_CITY]) VALUES ('602', 'Heathrow Airport', 'UK', 'London');
INSERT INTO [DB_AIRPORTS] ([AIRPORT_ID], [AIRPORT_NAME], [AIRPORT_COUNTRY], [AIRPORT_CITY]) VALUES ('603', 'Los Angeles International Airport', 'USA', 'Los Angeles');

INSERT INTO [DB_ARRIVALS] ([ARRIVAL_ID], [SCH_ARR_DATETIME], [ARR_AIRPORT_ID], [ARR_TERMINAL]) VALUES ('301', '2023-10-13T12:00:00.000', '602', 'Terminal X');
INSERT INTO [DB_ARRIVALS] ([ARRIVAL_ID], [SCH_ARR_DATETIME], [ARR_AIRPORT_ID], [ARR_TERMINAL]) VALUES ('302', '2023-10-13T13:30:00.000', '604', 'Terminal Y');
INSERT INTO [DB_ARRIVALS] ([ARRIVAL_ID], [SCH_ARR_DATETIME], [ARR_AIRPORT_ID], [ARR_TERMINAL]) VALUES ('303', '2023-10-13T15:00:00.000', '606', 'Terminal Z');

INSERT INTO [DB_CABINCREWS] ([CREW_ID], [CREW_NAME], [CREW_DETAILS]) VALUES ('401', 'Flight Crew 1', 'Pilots and Flight Attendants');
INSERT INTO [DB_CABINCREWS] ([CREW_ID], [CREW_NAME], [CREW_DETAILS]) VALUES ('402', 'Flight Crew 2', 'Veteran Pilots and Flight Attendants');
INSERT INTO [DB_CABINCREWS] ([CREW_ID], [CREW_NAME], [CREW_DETAILS]) VALUES ('403', 'Ground Crew 1', 'Ground Operations Staff');

INSERT INTO [DB_DEPARTURES] ([DEPARTURE_ID], [SCH_DEPR_DATETIME], [DEP_AIRPORT_ID], [DEP_TERMINAL]) VALUES ('201', '2023-10-13T09:00:00.000', '601', 'Terminal A');
INSERT INTO [DB_DEPARTURES] ([DEPARTURE_ID], [SCH_DEPR_DATETIME], [DEP_AIRPORT_ID], [DEP_TERMINAL]) VALUES ('202', '2023-10-13T10:30:00.000', '603', 'Terminal B');
INSERT INTO [DB_DEPARTURES] ([DEPARTURE_ID], [SCH_DEPR_DATETIME], [DEP_AIRPORT_ID], [DEP_TERMINAL]) VALUES ('203', '2023-10-13T12:00:00.000', '605', 'Terminal C');

INSERT INTO [DB_EMPLOYEE] ([EMP_ID], [EMP_FIRST_NAME], [EMP_LAST_NAME], [EMP_ROLE], [EMP_CREW_ID], [EMP_GENDER], [EMP_ANNUAL], [CONTACT_DETAILS]) VALUES ('1001', 'John', 'Smith', 'Pilot', '401', 'Male', '75,000', 'john.smith@email.com');
INSERT INTO [DB_EMPLOYEE] ([EMP_ID], [EMP_FIRST_NAME], [EMP_LAST_NAME], [EMP_ROLE], [EMP_CREW_ID], [EMP_GENDER], [EMP_ANNUAL], [CONTACT_DETAILS]) VALUES ('1002', 'Mary', 'Johnson', 'Pilot', '401', 'Female', '70,000', 'mary.johnson@email.com');
INSERT INTO [DB_EMPLOYEE] ([EMP_ID], [EMP_FIRST_NAME], [EMP_LAST_NAME], [EMP_ROLE], [EMP_CREW_ID], [EMP_GENDER], [EMP_ANNUAL], [CONTACT_DETAILS]) VALUES ('1003', 'Michael', 'Williams', 'Flight Attendant', '402', 'Male', '50,000', 'michael.williams@email.com');

INSERT INTO [DB_FLIGHTS] ([FLIGHT_ID], [DEPARTURE_ID], [ARRIVAL_ID], [CREW_ID], [AIRCRAFT_ID], [FLIGHT_DURATION]) VALUES ('101', '201', '301', '401', '5001', '03:30:00');
INSERT INTO [DB_FLIGHTS] ([FLIGHT_ID], [DEPARTURE_ID], [ARRIVAL_ID], [CREW_ID], [AIRCRAFT_ID], [FLIGHT_DURATION]) VALUES ('102', '202', '302', '402', '5002', '02:45:00');
INSERT INTO [DB_FLIGHTS] ([FLIGHT_ID], [DEPARTURE_ID], [ARRIVAL_ID], [CREW_ID], [AIRCRAFT_ID], [FLIGHT_DURATION]) VALUES ('103', '203', '303', '406', '5003', '04:15:00');

INSERT INTO [DB_PILOTS] ([PILOT_ID], [EMP_ID], [LICENSE_TYPE], [PASSPORT_NO], [ORIGIN_COUNTRY]) VALUES ('1001', '1001', 'Commercial', 'US123456', 'USA');
INSERT INTO [DB_PILOTS] ([PILOT_ID], [EMP_ID], [LICENSE_TYPE], [PASSPORT_NO], [ORIGIN_COUNTRY]) VALUES ('1002', '1002', 'Commercial', 'UK789012', 'UK');
INSERT INTO [DB_PILOTS] ([PILOT_ID], [EMP_ID], [LICENSE_TYPE], [PASSPORT_NO], [ORIGIN_COUNTRY]) VALUES ('1003', '1007', 'Commercial', 'US234567', 'USA');

PRAGMA AIRLINE_SIM_PROJECT.read_only = 0;

